.site-branding img {
  width: 295px
}

.main-navigation li a {
  font-size: 15px;
  text-decoration: none;
  font-weight: 500
}

.main-heading h2 {
  font-size: 40px;
  margin-bottom: 0;
  font-weight: 800;
  color: #04111a
}

.main-heading h2 strong {
  color: #ef6052;
  font-weight: 800
}

.main-heading p {
  font-size: 16px;
  color: #575775
}

.main-heading a {
  color: #ef6052;
  text-decoration: none;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 15px
}

.white a,
.white h2,
.white p {
  color: #fff
}

.h2-mb-25 h2 {
  margin-bottom: 20px
}

.experties-inner {
  padding: 20px 13px 20px 35px
}

.experties-inner h3 {
  font-weight: 800;
  font-size: 17px;
  color: #04111a
}

.experties-inner p {
  color: #575775;
  font-size: 15px;
  font-weight: 400
}

.experties-inner img {
  width: 50px
}

.experties-inner a {
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  color: #ef6052;
  text-transform: uppercase
}

.exp-bor-left {
  border-left: 1px solid #ddd
}

.exp-bor-right {
  border-right: 1px solid #ddd
}

.exp-bor-bottom {
  border-bottom: 1px solid #ddd
}

.exp-bor-top {
  border-top: 1px solid #ddd
}

.sub-heading h3 {
  font-size: 29px;
  font-weight: 800;
  color: #04111a;
  margin-bottom: 20px
}

.sub-heading p {
  font-size: 14px;
  color: #575775;
  font-weight: 400
}

.sub-heading h4 {
  line-height: 24px;
  font-size: 17px;
  font-weight: 800;
  color: #04111a
}

.sub-heading a {
  margin-top: 170px;
  color: #ef6052 !important;
  font-weight: 700;
  text-decoration: none
}

.sub-heading img {
  width: 100%
}

.p-16 p {
  font-size: 16px
}

.footer-heading h3 {
  font-size: 17px;
  font-weight: 700;
  color: #04111a;
  margin-bottom: 25px
}

.footer-links ul {
  margin: 0;
  padding: 0
}

.footer-links ul li a {
  line-height: 24px;
  color: #575775 !important;
  text-decoration: none
}

.footer-links ul li a:hover {
  color: #ef6052 !important
}

.footer-contact p strong {
  font-weight: 600
}

#pgc-w610c63ce87fe1-0-0,
#pgc-w610c63ce87fe1-0-1,
#pgc-w610c63ce87fe1-1-0,
#pgc-w610c63ce87fe1-1-1 {
  margin-bottom: -1.1px
}

.site-header-inner .row {
  width: 100%
}

.custom-menu-btn {
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #ef6052;
  position: relative;
  top: 6px;
  color: #fff !important;
  text-decoration: none
}

.main-navigation {
  text-align: center
}

.blockchain-list {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px
}

.blockchain-list a {
  text-decoration: none;
  color: #575775
}

.blockchain-list h2 {
  color: #ef6052;
  font-size: 70px;
  position: absolute;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: transparent
}

.blockchain-list a.active h2 {
  -webkit-text-stroke-color: #EF6052;
  -webkit-text-stroke-width: 2px
}

.blockchain-list h3 {
  font-weight: 700;
  color: #04111a;
  font-size: 18px;
  position: relative;
  left: 120px
}

.blockchain-list p {
  color: #575775;
  font-size: 14px;
  position: relative;
  left: 120px;
  padding-right: 100px
}

.about-us-home img {
  width: 84px;
  top: 10px;
  position: relative
}

.about-us-home {
  position: relative
}

.about-us-home h4 {
  top: 10px;
  position: absolute;
  left: 22%
}

.about-us-home p {
  position: absolute;
  top: 40px;
  left: 22%
}

.about-us-home a {
  margin-top: 170px !important;
  left: 22%;
  position: absolute
}

.about-last a {
  bottom: -120px
}

.blog-inner-home {
  background: #fff
}

.blog-inner-home img {
  width: 100%
}

.blog-inner-home h3 {
  padding: 20px 20px 10px 20px;
  font-size: 19px;
  line-height: 26px;
  color: #04111a
}

.blog-inner-home p {
  color: #575775;
  padding: 0 10px 40px 20px;
  font-size: 14px
}

.bottom-bar .custom-copyright {
  position: relative;
  top: 8px
}

.bottom-bar .logo {
  position: relative;
  top: 10px;
  width: 170px
}

.footer-social {
  text-align: right !important
}

#scroll-to-top {
  background: #ef6052
}

#scroll-to-top svg path {
  fill: #000
}

#pgc-w610d1e8553bbb-0-0 {
  width: 23.98% !important
}

#pg-w610cedf97cf77-0 {
  position: relative;
  top: -1px
}

.custom-breadcrumps {
  padding-top: 70px;
  padding-bottom: 50px
}

.custom-breadcrumps h3 {
  font-weight: 700;
  color: #000;
  font-size: 36px;
  margin-bottom: 15px
}

.custom-breadcrumps p strong {
  color: #ef6052;
  font-weight: 400
}

.custom-breadcrumps a {
  text-decoration: none;
  color: #000
}

.wpcf7 .ajax-loader {
  position: absolute;
  right: 130px;
  top: 10px
}

.wpcf7-not-valid-tip {
  position: relative;
  top: -22px;
  font-family: Inter;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px
}

.wpcf7-response-output {
  display: block
}

.about-page-content h2 {
  margin-bottom: 30px
}

.about-page-content p {
  font-size: 16px;
  color: #575775
}

.focus-inner {
  background: #f7fbff;
  border-radius: 5px;
  padding: 20px 20px 17px
}

.focus-inner h3 {
  font-size: 17px;
  margin: 20px 0 15px;
  font-weight: 600
}

.focus-inner p {
  color: #575775;
  font-size: 15px
}

.page-a a {
  text-decoration: none;
  color: #fff;
  background: #ef6052;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 15px
}

.software-development-inner {
  padding: 30px 30px
}

.software-development-inner h1 {
  font-size: 56px;
  color: #ef6052;
  font-weight: 400
}

.software-development-inner h3 {
  font-weight: 600;
  color: #04111a;
  font-size: 16px
}

.software-development-inner p {
  color: #04111a;
  font-size: 12px;
  line-height: 20px
}

.software-dev-product {
  padding-top: 40px;
  padding-bottom: 40px
}

.software-dev-product h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 600
}

.software-dev-product a {
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background: #ef6052;
  font-size: 15px;
  border-radius: 5px
}

.swiper-wrapper {
  position: relative;
  left: -12%
}

.mySwiper1 .swiper-wrapper {
  position: relative;
  left: 10%
}

.swiper-container {
  padding: 10px 0 60px
}

.testimonial-inner {
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, .1);
  padding: 20px;
  border-radius: 10px;
  width: 380px !important
}

.testimonial-inner .col-md-9 {
  position: relative;
  top: 7px;
  left: -17px
}

.testimonial-inner img {
  width: 80%;
  border-radius: 50px
}

.testimonial-inner .testimonial-name {
  color: #575775;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 4px
}

.testimonial-inner .testimonial-country {
  color: #575757;
  font-size: 12px
}

.testimonial-inner p.testimonail-review {
  font-size: 13px;
  margin-top: 20px;
  color: #575775
}

.swiper-container-rtl .swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after,
.testimonial .swiper-button-next:after,
.testimonial .swiper-button-prev:after {
  font-size: 12px;
  color: #ef6052
}

.testimonial .swiper-button-prev {
  border: 1px solid #ddd !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50px;
  position: relative;
  left: 29%;
  top: 57px
}

.testimonial .swiper-button-next {
  top: 39.1px;
  position: relative;
  left: 33%;
  border: 1px solid #ddd;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50px
}

.service-inner {
  background: #fafafa;
  border-radius: 8px;
  padding: 15px 20px
}

.service-inner a:hover,
.service-inner a:hover h3,
.service-inner a:hover p {
  text-decoration: none !important
}

.service-inner img {
  width: 45px
}

.service-inner h3 {
  margin: 20px 0 15px;
  color: #04111a;
  font-size: 17px;
  text-decoration: none !important;
  font-weight: 600
}

.service-inner p {
  color: #575775;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none !important
}

.services .swiper-button-next:after,
.services .swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  font-size: 12px;
  color: #ef6052
}

.services .swiper-button-prev {
  position: relative;
  top: -100px;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .3);
  left: 8.5%
}

.services .swiper-button-next {
  background: #fff;
  top: 97px;
  left: 88%;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .1)
}

.service-page-quote {
  position: relative;
  top: 0
}

.hire-us ul {
  list-style: none;
  margin: 0;
  padding: 0;
  columns: 2
}

.hire-us ul li {
  padding: 10px 0;
  color: #575757;
  font-size: 16px;
  font-weight: 400
}

.hire-us ul li::before {
  content: '\f00c';
  font-family: 'Line Awesome Free';
  font-weight: 900;
  font-size: 10px;
  padding: 5px;
  margin-bottom: 10px;
  margin-right: 14px;
  color: #117a4e;
  border-radius: 50px;
  background-color: #98dabe
}

.process-content p {
  font-weight: 700;
  color: #04111a;
  font-size: 16px
}

.process-content a {
  margin-left: 20px;
  padding: 10px 34px;
  border-radius: 7px;
  font-size: 15px;
  text-decoration: none;
  font-weight: 400;
  color: #ef6052;
  border: 1px solid #ef6052
}

.perks-inner {
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  padding: 10px 20px
}

.perks-inner h3 {
  color: #04111a;
  font-size: 19px;
  font-weight: 600
}

.perks-inner p {
  color: #575775;
  font-size: 16px
}

.perks-inner img {
  width: 44px;
  margin: 20px 0
}

.pool-talent h1 {
  font-size: 40px;
  font-weight: 700;
  color: #fff
}

.pool-talent p {
  font-size: 15px;
  color: #fff;
  font-weight: 300
}

.pool-talent a {
  background: #ef6052;
  padding: 15px 35px;
  color: #fff;
  text-decoration: none;
  border-radius: 7px;
  font-size: 15px
}

.entry-thumbnail {
  max-width: 100% !important
}

.entry-thumbnail img {
  width: 100% !important
}

.blockchain-list:hover {
  cursor: pointer;
  border-bottom: 1px solid #ef6052;
  transition: all ease-in-out .4s
}

.blockchain-list:hover h2 {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #ef6052 !important
}